
html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

body {
    margin: 0 auto;
    color: #ffffff;
    display: grid;
    width: 100%;
    max-width: 375px;
    
}

header {
    background-color: #020873;
    text-align: center;
    border: 2px solid #020873;
}

h1 {
    font-size: 1.25em;
    margin: 0;
    padding: 20px 0;
    color: #ffffff;
    font-variant: small-caps;
}

main {
    background-color: #ffffff;
    color: #590242;
}



section#station {
    padding: 20px;
    background: linear-gradient(to right,   #030a8c 5%, #000006 95%);  
    color: #ffffff;
}

section#station h2 {
    font-size: 1.5em;
    font-family: "verdana-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: 25px;
}

section#station p {
    font-size: 1em;
    font-family: "verdana-pro-condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
    width: 275px;
    margin-left: 25px;
}



/* tablet Navigation*/

nav {
    background-color: #020659;
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;   
}

nav li {
    margin: 0 10px;
}

nav li:first-child a {
    font-variant: small-caps;
    font-size: 1em;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}






label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}





input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ ul {
    max-height: 500px;
}

input[type="checkbox"]:checked ~ label span {
    background: transparent;
}

input[type="checkbox"]:checked ~ label span:before {
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked ~ label span:after {
    transform: rotate(45deg);
}

@media screen and (min-width: 834px) {
    nav ul {
        max-height: none;
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: absolute;
        top: 0;
    }

    label, label span, input[type="checkbox"] {
        display: none;
    }
}




/*trending playlist*/
#trending {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    height: 525px;
    width: 100%;
    max-width: 375px;
    background-color: #ffffff;
}

#trending h2 {
    width: 215px;
    margin-top: 35px;
    margin-left: 30px;
    position: relative;
    top: -14px;
}

#trending .scroll { 
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 5px;
    height: 460px;
    width: 100%;
}

#trending section.song {
  position: relative;
  top: 55px;
  right: -10px;
  width: calc(375px - 45px); 
  flex-shrink: 0;
}

#trending img {
    width: 311px;
    max-width: 311px;
    height: 300px;
    margin-right: 2px;
    margin-bottom: -12px;
    
}
#trending h3 {   
      position: relative;
      top: -3px;
      left: 0;
      margin-top: 9px;
      padding: 10px;
      font-family: "verdana-pro", sans-serif;
      font-weight: 600;
      font-style: italic;
}

#trending figure {
    background-size: 100%;
    margin: 0;    
}

 #trending figcaption {
    background-color: rgba(128, 128, 128, 0.551);
    color: #590242;
    width: 311px;
    height: 68px; 
}

dl {
    display: flex;  
    position: relative;
    top: -20px;
    left: 10px;
    
}

dt {
    padding-right: 5px;
    font-family: "verdana-pro-condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
}

dd {
    margin-left: 5px;
    margin-top: 1px;
    padding-right: 5px;
}

#trending audio {
 position: relative;
 bottom: 275px; 
 left: 0; 
 margin: 0 auto;
 opacity: 0.5;
 width: 311px;
 max-width: 311px;
}

.more {
    text-decoration: none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 20px;
    display: block;
    text-align: center;
    margin: 10px 0 10px 10px;
    position: absolute;
    top: -113px;
    left: 20px;
    z-index: 1;
    
}

.more:hover {
    background-color: #020659;
}

/* end of trending playlist*/




/*  scrollbar for #trending */
#trending ::-webkit-scrollbar {
    width: 6px;
    
}

#trending ::-webkit-scrollbar-track {
    background-color: #e666d1;  
}

#trending ::-webkit-scrollbar-thumb {
    background-color: #020659;
}

#trending ::-webkit-scrollbar-thumb:hover {
    background-color: #590242;
}

/*end of scrollbar for #trending */




/*Your playlist*/

#your-playlists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #0d8dfb;
    padding: 10px;
    position: relative;
    top: 0;
    height: 307px;
    width: 100%;
    max-width: 355px;
    margin-top: 50px;
}

#your-playlists h2 {
    color: #590242;
    width: 200px;
    position: relative;
    top: -65px;
    left: 22px;   
}

#your-playlists .scroll {   
    display: grid;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    top: 6px;
    right: 210px;
    width: 375px;
    height: 312px;
    flex-shrink: 0;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    scrollbar-color: #020659  #2004d955;   
}

#your-playlists .playlist {
    background-color: #2699fb;
    margin-bottom: 5px;
    margin-right: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    padding: 10px;
    height: 265px;
    width: 150px;
    position: relative;
    top: -4px;
    left: 10px;
}

#your-playlists .playlist:hover {
    transform: translateY(-5px);
}

#your-playlists img {
    width: 146px;
    margin: 0 auto;
    display: block;
}

#your-playlists h3 {
    margin: 10px 10px 10px 0;
    color: #ffffff;
    width: 150px;
    text-align: center;
    font-family: "verdana-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

#your-playlists p {
    margin: 0 auto;
    color: #d7f9d7;
    text-align: center;
    width: 118px;
    font-size: 14px;
    font-family: "verdana-pro-condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.more-playlists {
    text-decoration: none; 
    background-color: #590242; 
    color: #ffffff;
    border-radius: 5px;
    padding: 10px; 
    width: 150px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    top: -103px;
    right: 176px;
    text-align: center;
}

.more-playlists:hover {
    background-color: #020659;
}

/* end of your playlist*/





/*curated playlist*/

#curated {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #020873;
    padding: 10px;
    position: relative;
    top: -50px;
    height:300px;
    width: 100%;
    max-width: 355px;
    margin-top: 160px;
    margin-bottom: 70px;
}

#curated h2 {
    color: #590242;
    position: relative;
    top: -65px;
    width: 233px;
    left: 22px;
}

#curated .scroll { 
    display: grid;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    top: -17px;
    left: -243px;
    width: 375px;
    height: 325px;
    flex-shrink: 0;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    scrollbar-color: #020659  #020873;
}

#curated .playlist {
    background-color: #020659;
    margin-bottom: 5px;
    margin-right: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
    padding: 10px;
    height: 265px;
    width: 150px;
    position: relative;
    top: 15px;
    left: 11px;
}

#curated .playlist:hover {
    transform: translateY(-5px);
}

#curated img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
}

#curated h3 {
    color: #ffffff;
    margin-bottom: 5px;
    width: 132px;
    text-align: center;
    margin-left: 10px;
    font-family: "verdana-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

#curated p {
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    width: 118px;
    font-size: 14px;
    font-family: "verdana-pro-condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.more-curated {
    text-decoration: none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    top: 326px;
    right: 176px;
    text-align: center;
}

.more-playlists:hover {
    background-color: #020659;
}  


/* End of curated playlist*/



/*Footer*/

footer {   
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: .75em;
    position: relative;
    top: -62px;
    color:#590242;
}













